<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
	<title>Make Payment</title>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <div class="background">
    <div class="banner">
        <h1>Website Name</h1>
    </div>
    <div>
        <form action="/login" method="POST">
            <input placeholder="Username" name="username">
		        <input placeholder="Password" name="password">
            <button type="submit" id="submit-button">Submit</button>
        </form>
        

    </div>
    </div>
</body>
</html>