<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
	<title>Make Payment</title>
    <link rel="stylesheet" href="style.css" type="text/css">
</head>
<body>
    <div class="banner">
        <h1>Website Name</h1>
    </div>
    <div>
        <h1>YOU ARE LOGGED IN!
    </div>
</body>
</html>